.flex__container{
  background-color:#1b283d;
  display: flex;
  justify-content: center;
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right: 0px;
}


.button{
  padding: 8px;
  font-size: 16px;
  border-radius:6px;
  font-weight: lighter;
  font-family: sans-serif;
  background-color: transparent;
  border:1px solid #73a3f0;
  color: #73a3f0;
}

.button__row{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}


.visualizer{
  border-top: 1px solid #73a3f0;
  border-bottom: 1px solid #73a3f0;
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.paragraph{
  font-size: 24px;
  color: #73a3f0;
  text-align: center;
}

.heading__primary{
  font-size: 42;
  color: #73a3f0;
  text-align: center;
}