h3{
  text-align: center;
  color: white;
  font-size: 36px;
  font-family: 'Audiowide', cursive;

}
.background{
  position: absolute;
  left:0px;
  right:0px;
  bottom:0px;
  top: 0px;
  background-color: #000326;
  z-index: -10000;
}


.color-chart{
  position: relative;
  min-width: 24px;
  max-width: 24px;
  
}

.freq-scale{
  position: relative;
  min-width: 12px;
  border-right: 1px solid white;
  height:512px;
}

.color-chart__scale{
 width:16px;
 display: block;
 border: 1px solid white;

 background-image: linear-gradient(#660000,#fff200,green,#000326);
 margin: 10px 0;
 height: calc(100% - 22px);
}

.color-chart__label-min{
  margin: 0;
  left: -40px;
  text-align: end;
  position: absolute;
  color: white;
  font-size: 10px;
  bottom: 0px;
}

.color-chart__label-max{
  margin: 0;
  left: -26px;
  text-align: end;
  position: absolute;
  color: white;
  font-size: 10px;

}


.freq-chart__label-min{
  right: -40px;
  margin: 0;

  text-align: end;
  position: absolute;
  color: white;
  font-size: 10px;
  bottom: 0px;
}
.freq-chart__label-mid{
  right: -36px;
  margin: 0;

  text-align: end;
  position: absolute;
  color: white;
  font-size: 10px;
  bottom: 50%;
}
.freq-chart__label-max{
  right: -28px;
  margin: 0;

  text-align: end;
  position: absolute;
  color: white;
  font-size: 10px;

}

.spectrogram__controls{
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon{
  vertical-align: middle;
  font-size: 42px;
}

.flex__row{
  display: flex;
}

.control__button{
  vertical-align: middle;
  color:#2e2e2e;
  background-color: #c9c9c9;
  font-size: 32px;
  width: 60px;
  height: 60px;
  border:none;
  border-radius: 100%;
  transition: all 150ms ease;
}

.control__button:hover{
  background-color: #2e2e2e;
  color: #c9c9c9;
}